.content{
    display: flex;
    justify-content: center;
    align-items: center;
}
mat-card
{
    margin:50px;
    width:35%;
    box-shadow: 2px 2px 5px 2px darkgrey !important;

}
mat-card-content{
    padding: 0px 30px;
}
mat-card-header{
    text-align:center;
    display: block;
    padding-bottom: 30px;
}
mat-card-actions{
    text-align: center;
}
.addBtn,.cancel{
    font-size: 16px;
    width: 20%;
    color:darkslategray;
    background: white;
    width: 40%;
}
.addBtn:hover{
    background: dodgerblue;
    color:white;

}
.cancel{
    background-color:rgb(240,10,50);
    color: white;
}
mat-card-actions li{
    padding-bottom: 10px;
}


mat-icon{
    cursor: pointer;

}

mat-form-field{
    width: 100%;
}