.content{
    display: flex;
    justify-content: center;
    align-items: center;
}
mat-card
{
    margin:50px;
    width:35%;
    box-shadow: 2px 2px 5px 2px darkgrey !important;

}
mat-card-content{
    padding: 0px 30px;
}
mat-card-header{
    text-align:center;
    display: block;
    padding-bottom: 30px;
}
mat-card-actions{
    text-align: center;
}
.addBtn{
    font-size: 16px;
    width: 20%;
    color:darkslategray;
    background: white;
}
.addBtn:hover{
    background: darkslategray;
    color:white;

}
mat-card-actions li{
    padding-bottom: 10px;
}


mat-icon{
    cursor: pointer;

}

mat-form-field{
    width: 100%;
}


.alert,.alert-danger{
    color: #721c24;
    background-color: #f8d7da;
    border-color: #f5c6cb;
    position: relative;
    padding: .75rem 1.25rem;
    margin-bottom: 1rem !important;
    border: 1px solid transparent;
    border-radius: .25rem;
}